{% extends 'base.html.twig' %}
{% block body %}  
  {# S'il y a une erreur, on l'affiche dans un joli cadre #}
    {% if error %}
       <div class="alert alert-danger">{{ error.message }}</div>
    {% endif %}
    
    {% for message in  app.flashes('createUser')%}
         <div class="alert alert-success">
         {{message}}
         </div> 
    {%endfor %} 
    
    {% for message in  app.flashes('createUserFailed')%}
         <div class="alert alert-danger">
         {{message}}
         </div> 
    {%endfor %} 
    
    {% for message in  app.flashes('succesAnnonce')%}
        <div class="alert alert-success">
        {{message}}
        </div> 
   {%endfor %}       
	<link rel="stylesheet" href="{{ asset('public/css/connexion.css') }}" type="text/css"/>  
	<div class="conn-bx">
		<div class="conn-lf">
			<div style="">
				<h2 class="conn-lf-txt">Nouveau sur Zando ?</h2>
			</div>		
			<div class="conn-lf-bx-btn">							
				<div class="conn-lf-bx-btn-ct">
					<div class="btnfmg" onclick="">
						<a class="lk-w" href="{{path('enregistrer_utilisateur')}}">Inscrivez-vous</a>
					</div>
				</div>
			</div>	
			<div class="conn-lf-txt2-bx">
				<div class="conn-lf-txt2">
					Reliant des MILLIONS d'acheteurs et les vendeurs dans le monde entier depuis 2002! 
				</div>
				<div style="margin-top:10px;">
					<img src="{{ asset('public/img/bigglobe.png') }}" class="imgmax">
				</div>
			</div>
		</div>
		<div class="conn-rt">
			<div class="conn-rt-bx">
				<div class="conn-rt-bx-title">
					<h4 class="conn-rt-title-ft">Connectez-vous à votre compte</h4>
				</div>
				<div class="conn-rt-bx-inp">
					<form action="{{ path('login_check') }}" method="post">
					<div style="padding:0px;">
						<div><label for="username">Pseudo ou Email</label></div>
						<div style="margin-top:0px;">
							<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}" />
						</div>
					</div>
					<div style="padding-top:5px;">
						<div><label for="password">Mot de passe</label></div>
						<div style="margin-top:0px;">
							<input class="form-control" type="password" id="password" name="_password" />
						</div>
					</div>
					<div style="padding-top:5px;">
						<div>&nbsp;</div>
						<div style="margin-top:0px;">
							<div class="conn-lf-bx-btn-ct2">
								<div class="btnfm" onclick="$(this).closest('form').submit();">
									<b>Se connecter</b>
								</div>
							</div>
						</div>
					</div>
					</form>
				</div>
				<div class="conn-rt-forgot">
					<a href="{{path('generer_password')}}">
						Vous avez oublié votre nom d'utilisateur ou mot de passe?
					</a>
				</div>
			</div>
		</div>
		<div style="clear:both;"></div>
	</div>
 {% endblock %}

