{% extends 'base.html.twig' %}
{% block body %}
    <table class="table table-hover">
        <thead> <tr> <th>#</th> <th>Titre Annonce</th> <th>Expediteur</th> <th>Email</th> <th>telephone</th> <th>message</th> </tr> </thead>
        <tbody> 
                {%for message in  messages%}
                <tr> 
                        <th scope="row">{{loop.index}}</th> 
                        <td>{{message.annonce.titre}}</td>
                        <td>{{message.nom}}</td> 
                        <td>{{message.email }}</td>
                        <td>{{message.telephone}}</td> 
                        <td>{{message.message}}</td> 
                </tr> 
                {%endfor%}
        </tbody>					
    </table>
{% endblock %}        