<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Welcome!{% endblock %} Skooltag</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link rel="stylesheet" type="text/css" href="/bouba/skooltag/web/public/css/site.css">
		<link rel="stylesheet" href="/bouba/skooltag/web/public/css/jquery-ui.css">
		<link rel="stylesheet" href="/bouba/skooltag/web/public/css/recherche.css">
		<link rel="stylesheet" href="/bouba/skooltag/web/public/css/utilisateur.css">	
		<link rel="stylesheet" href="/bouba/skooltag/web/public/css/connexion.css">	
		<link rel="stylesheet" type="text/css" href="/bouba/skooltag/web/public/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="/bouba/skooltag/web/public/css/bootstrap-theme.min.css">
		<script src="/bouba/skooltag/web/public/js/jquery-1.10.2.js"></script>
		<script src="/bouba/skooltag/web/public/js/jquery-ui.js"></script>
		<script src="/bouba/skooltag/web/public/js/bootstrap.min.js"></script>
		<script src="/bouba/skooltag/web/public/js/utilisateur.js"></script>
	</head>
	<div class="head">
		<div class="nivhead" >
			<div style="border:0px solid #80BFFF;padding:20px 0 0 0;">
				<div style="float: left;border: 1px solid orange;width: 140px;height:50px;">
					<a href="#" >
						<img src="/bouba/skooltag/web/public/images/skooltag.png" alt="Skooltag.com, Acueil des etudiant etrangers" style="width: 130px;height: 40px;"/>
					</a>
				</div>
				<div style="float:right;border: 0px solid green;width:410px;height:50px;">
					<div style="float:left;border-right:1px solid #ccc;height:100%;width:165px;padding:5px 0 0 0;">
						<div style="float:left;padding:8px 0px 0 0;width:50px;border:0px solid #000;text-align:center;">
							<span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:25px;color:#28C4E0;"></span>
						</div>
						<div style="float:left;width:110px;border:0px solid #000;">
							<div style="margin:2px 0 0px 0;font-size:14px;color:#28C4E0;">
									  MON ESPACE
							</div>
						</div>
						<div style="margin:0 0 0px 0;font-size:12px;">
							{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
							Bienvenu {{ app.user.username  }}
							<a href="{{ path('fos_user_security_logout') }}">
								{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
							</a>
							{% else %}
								<a href="{{ path('utilisateurCon') }}"> Connectez-vous </a>
							{% endif %}
						</div>
					</div>
					<div style="float:left;width:245px;padding:5px 0 0 10px;">
						<div style="float:left;padding:8px 0px 0 0;width:50px;border:0px solid #000;text-align:center;">
							<span class="glyphicon glyphicon-earphone" aria-hidden="true" style="font-size:25px;color:#28C4E0;"></span>
						</div>
						<div style="float:left;width:175px;border:0px solid #000;">
							<div style="margin:2px 0 0px 0;font-size:14px;color:#28C4E0;"><b>01 40 56 33 33</b></div>
							<div style="margin:0 0 0px 0;font-size:12px;">du lundi au samedi de 9h à 18h</div>
						</div>
					</div>
					<div class="clear"></div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</div>
	<div class="main_menu" style="background-color:#005EA8;height:40px;">
		<div style="margin:0 auto;width:1010px;height:40px;">
			<ul class="menu">
				<li style=""><a href="">Home</a></li>
				<li><a href="">About </a>
					<ul class="menukid">
						<li class="menukidul"><a href="">The Team</a></li>
						<li class="menukidul"><a href="">History</a></li>
						<li class="menukidul"><a href="">Vision</a></li>
					</ul>
				</li>
				<li><a href="">Products</a>
					<ul class="menukid">
						<li class="menukidul"><a href="">Cozy Couch</a></li>
						<li class="menukidul"><a href="">Great Table</a></li>
					</ul>
				</li>
				<li><a href="">Contact</a>
					<ul class="menukid">
						<li class="menukidul"><a href="">Online</a></li>
						<li class="menukidul"><a href="">Right Here</a></li>
					</ul>
				</li>
			</ul>
			<ul class="message">
				<li>
					<a href="">Passez une annonce</a>
				</li>
			</ul>
		</div>
	</div>
	<script type="text/javascript">
		$(function() {
			$("#myBtn").click(function(){
				$("#myModal").modal();
			});
	    });
     	
	</script>
    <body>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
	<div class="footer">
		<div class="nivfooter">
			<div class="nivfootermin">
				<a href="#" > Plan du site </a>
			</div>
			<div class="nivfootermax">
				<a href="#" > Qui sommes-nous ? </a>
			</div>
			<div class="nivfootermax">
				<a href="#" > Nos équipes & Recrutement </a>
			</div>
			<div class="nivfootermax">
				<a href="#" >Témoignages clients </a>
			</div>
			<div class="nivfootermin">
				<a href="#" > Nous contacter </a>
			</div>
			<div class="nivfootermin">
				<a href="#" > CGV </a>
			</div>
			<div class="nivfootermin">
				<a href="#"> Affiliation </a>
			</div>
		</div>
		<div class="clear"></div>
		<div class="nivfooter">
			<p>
				 : les annonces immobilières de particulier à particulier. pap.fr est le premier site immobilier français à proposer des annonces de location et de vente immobilières entre particuliers. Vous trouverez sur PAP de nombreuses annonces : des locations d'appartements, des locations de maisons, des locations de lofts, des maisons à vendre, des annonces de ventes d'appartement. Ces annonces immobilières sont mises à jour régulièrement afin de vous apporter un service optimum.
				<br>&nbsp;<br>
				Nous vous invitons également à consulter régulièrement nos rubriques Argent (crédit immobilier, impôts, ...) Conseils immobilier et Travaux Déco.
				<br>&nbsp;<br>
				Mentions légales - Protection des données personnelles - Tous droits réservés © De Particulier à Particulier - Réseau immobilier - 1996-2015
				L'extraction et l'utilisation à des fins professionnelles ou commerciales de tout ou partie de la présente base de données sont interdites.
			</p>
		</div>
	</div>
</html>
