<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Zandoo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />	
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery-ui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/commun.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/head.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/foot.css') }}">
    </head>
    <body>
	{% include 'header.html.twig' %}
	
	{% if homehead is defined %}
		{% include 'search-home.html.twig' %}
	{% else %}
		{% include 'search.html.twig' %}
	{% endif %}
	<div class="body-main">
		{% block body %} {% endblock %}
	</div>    
    {% block javascripts %}{% endblock %}	
	{% include 'footer.html.twig' %}
	<script src="{{ asset('public/js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{ asset('public/js/jquery-ui.js')}}"></script>
	<script src="{{ asset('public/js/bootstrap.js') }}"></script>
	<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('public/js/a-view.js') }}"></script>
	<script src="{{ asset('public/js/general.js') }}"></script>
    </body>
</html>
