<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Zandoo{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />	
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/bootstrap.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/jquery-ui.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/commun.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/font-awesome-4.7.0/css/font-awesome.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/head.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('public/css/foot.css') }}">
    </head>
    <body>
	<div style="background:#003580;">
		<div class="hd-top" style="">			
			<div style="float:left;"><h3 style="margin:0;padding:0;">Zandoo</h3></div>
			<div class="hd-top-menu" style="">
				<div class="hd-top-menu-elm">Déposer une annonce</div>
				<div class="hd-top-menu-elm">Offres</div>
				<div class="hd-top-menu-elm">Demandes</div>
				<div class="hd-top-menu-elm">Mes favoris</div>
				<div class="hd-top-menu-elm">Boutiques</div>
				<div class="hd-top-menu-elm" style="margin:0;">Messages</div>
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-right" style="">
				<div class="hd-top-menu-right-elm">
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="hd-top-menu-right-elm">
					<i class="fa fa-comment-o"></i>
				</div>
				<div class="hd-top-right-user" style="">
					<i class="fa fa-user-o"></i>
				</div>
				<div class="hd-top-right-register" style="">
					<div class="btn-insc" style=""><a href="{{ path('enregistrer_utilisateur')}}">S'inscrire</a></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-resp" style="">
				<div id="respuser" class="hd-top-right-user" style="cursor:pointer;">
					<i id="respusericnop" class="fa fa-user-o"></i>
					<i id="respusericncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div id="respmn" style="float:left;padding-top:2px;cursor:pointer;width:15px;">
					<i id="respmnicnop" class="fa fa-bars"></i>
					<i id="respmnicncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div id="resp-menu" class="hd-resp-menu" style="">
			<div style="">Déposer une annonce</div>
			<div style="hd-resp-menu-elm">Offres</div>
			<div style="hd-resp-menu-elm">Demandes</div>
			<div style="hd-resp-menu-elm">Mes favoris</div>
			<div style="hd-resp-menu-elm">Boutiques</div>
			<div style="hd-resp-menu-elm">Messages</div>
		</div>
		<div id="resp-user" class="hd-resp-user" style="">
			<div style="hd-resp-menu-elm">Mon compte</div>
			<div style="hd-resp-menu-elm">Mes favoris</div>
			<div style="hd-resp-menu-elm">Mes messages</div>
			<div style="hd-resp-menu-elm"><a href="{{ path('enregistrer_utilisateur')}}">S'inscrire</a></div>
		</div>
	</div>
	<div style="background:#F7F7F7;">
		<div class="srchbox" style="">
			<div class="titlemn" style=""><h3 style="margin:0;padding:0;">Recherchez. Profitez</h3></div>			
			<div class="titlemn" style="color:#383838;"><span class="titresub">Trouvez la bonne affaire parmi</span> 27 633 130 d'annonces sur Zandoo.</div>			
			<div class="srchinputs">
				<div class="srch1">
					<input type="text" placeholder="Que recherchez-vous ?" class="srchinp" name="" id="" value=""/>
				</div>
				<div class="srch2">
					<input type="text" placeholder="Toutes catégories" class="srchinp" name="" id="" value=""/>
				</div>
				<div class="srch3">		
					<div class="srchbtn" style="">
						<h3 style="margin:0;padding:0;">Recherchez</h3>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>	
			<div style="margin:15px 0 0 0;">
				<div class="srccrt1" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 0px 0 0;">
						Recherche dans le titre <span class="srctitre">uniquement</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="srccrt2" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="" id="" value=""/>
					</div>
					<div style="float:left;margin:0 10px 0 0;">
						Annonces urgentes
					</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="btn-publie-bx" style="">
				<div class="btn-publie" style="">
					<div class="pubicn" style="">
						<i class="fa fa-pencil-square-o"></i>
					</div>
					<div class="pubtxt" style="">
						<span style="margin:0;padding:0;">Publiez votre annonce</span>
					</div>
					<div style="clear:both;"></div>
				</div>
			</div>
		</div>
	</div>

        {% block body %} {% endblock %}
	<div>
		<div style="background:#003580;">
			<div class="hd-foot">
				<div class="hd-foot-txt">
					<span class="hd-foot-txt-1">INSCRIVEZ-VOUS A NOTRE</span> NEWSLETTER <span class="hd-foot-txt-2">!</span>
				</div>
				<div class="hd-foot-box-inp">
					<input class="hd-foot-inp" type="text" placeholder="Votre e-mail" style="" name="" id="" value=""/>
				</div>
				<div class="hd-foot-btn-box">
					<div class="hd-foot-btn">Go</div>
				</div>
				<div style="clear:both;"></div>
			</div>
		</div>
		<div class="foot-bd-box">
			<div class="foot-bd-lft">
				<div class="foot-bd-elm" style="">
					<div class="foot-bd-mn-title" style="">QUI SOMMES-NOUS ?</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Nos engagements</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Conditions de vente</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Conditions d'utilisation</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Affiliation</a>
					</div>
				</div>
				<div class="foot-bd-elm foot-bd-elm-2" style="">
					<div class="foot-bd-mn-title" style="">NOS SERVICES</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Marchands Partenaires</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Modes de livraison</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Moyens de paiement</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Mes retours produits</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="foot-bd-rgt">
				<div class="foot-bd-elm" style="">
					<div class="foot-bd-mn-title" style="">AIDE</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Plan du site</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Annuler ma commande</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Mon historique de commande</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Nous contacter</a>
					</div>
				</div>
				<div class="foot-bd-elm foot-bd-elm-4" style="margin-right:0;">
					<div class="foot-bd-mn-title" style="">LIENS UTILES</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Cookie</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">S'inscrire</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Reprise de matériel</a>
					</div>
					<div class="foot-bd-mn-title-sub">
						<a href="/info/engagements" style="text-decoration: none;">Garantie</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div class="foot-ft">
			© 2018 zandoo.com - Tous droits réservés.
		</div>
	</div>
	<script src="{{ asset('public/js/jquery-3.1.1.min.js')}}"></script>
	<script src="{{ asset('public/js/jquery-ui.js')}}"></script>
	<script src="{{ asset('public/js/bootstrap.js') }}"></script>
	<script src="{{ asset('public/js/bootstrap.min.js') }}"></script>
	<script src="{{ asset('public/js/general.js') }}"></script>
    </body>
</html>
