	<div style="background:#003580;">
		<div class="hd-top" style="">			
			<div style="float:left;padding-top:8px;">
				<a href="{{path('home')}}" style="text-decoration:none;color:#fff;">
					<h3 style="margin:0;padding:0;">Zandoo</h3>
				</a>
			</div>
			<div class="hd-top-menu" style="">
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('enregistrer_annonce')}}">Déposer une annonce</a>
				</div>
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('listes_annonces')}}">Offres</a>
				</div>
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('demandes')}}">Demandes</a>
				</div>
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('login')}}">Mes favoris</a>
				</div>
				<div class="hd-top-menu-elm">Boutiques</div>
				<div class="hd-top-menu-elm" style="margin:0;">Messages</div>
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-right" style="">
				<div class="hd-top-menu-right-elm">
					<a class="lk-w" href="{{path('login')}}">
						<i class="fa fa-folder-o"></i>
					</a>
				</div>
				<div class="hd-top-menu-right-elm">
					<a class="lk-w" href="{{path('login')}}">
						<i class="fa fa-comment-o"></i>
					</a>
				</div>
                {%if  app.user is empty %}                                
				<div class="hd-top-right-user" style="">
					<a class="lk-w" href="{{path('login')}}">
						<i class="fa fa-user-o"></i>
					</a>
				</div>
                {%else%}    
                <div class="hd-top-right-user" style="">
					<a class="lk-w" href="{#{path('modifier_utilisateur',{'id':app.user.id})}#}">
						<i class="fa fa-user-o"></i>
					</a>
				</div>
                <div class="hd-top-right-user" style="">
					<a class="lk-w" href="{{path('logout')}}">
						<i class="fa fa-sign-out"></i>
					</a>
				</div>                
                {%endif%} 
                {%if  app.user is empty %}
				<div class="hd-top-right-register" style="">
					<div class="btn-insc" style="">        
					    <a class="lk-b" href="{{path('enregistrer_utilisateur')}}">S'inscrire</a>
					</div>
				</div>
                {%endif%}
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-resp" style="padding-bottom:12px;">
				<div id="respuser" class="hd-top-right-user" style="cursor:pointer;">
					<i id="respusericnop" class="fa fa-user-o"></i>
					<i id="respusericncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div id="respmn" class="hd-top-right-menu" style="">
					<i id="respmnicnop" class="fa fa-bars"></i>
					<i id="respmnicncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div id="resp-menu" class="hd-resp-menu" style="">
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('enregistrer_annonce')}}">Déposer une annonce</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('annonces')}}">Offres</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('listes_annonces')}}">Demandes</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('login')}}">Mes favoris</a>
			</div>
			<div class="hd-resp-menu-elm">Boutiques</div>
			<div class="hd-resp-menu-elm">Messages</div>
		</div>
		<div id="resp-user" class="hd-resp-user" style="">
            {%if  app.user is empty %}
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('login')}}">Mon compte</a>
			</div>
            {%else%}
            <div class="hd-resp-menu-elm">
				<a class="lk-w" href="{#{path('modifier_utilisateur',{'id':app.user.id})}#}">Modifier mon compte</a>
			</div>
            <div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('logout')}}">Se déconnecter</a>
			</div>
            {%endif%}
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{#{path('login')}#}">Mes favoris</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{#{path('login')}#}">Mes messages</a>
			</div>
			{%if  app.user is empty %}
            <div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('enregistrer_utilisateur')}}">S'inscrire</a>
			</div>
			{%endif%}
		</div>
	</div>