	<div style="background:#003580;">
		<div class="hd-top" style="">			
			<div style="float:left;">
				<a href="{{path('home')}}" style="text-decoration:none;color:#fff;">
					<h3 style="margin:0;padding:0;">Zandoo</h3>
				</a>
			</div>
			<div class="hd-top-menu" style="">
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('enregistrer_annonce')}}">Déposer une annonce</a>
				</div>
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('annonce')}}">Offres</a>
				</div>
				<div class="hd-top-menu-elm">
					<a class="lk-w" href="{{path('annonce')}}">Demandes</a>
				</div>
				<div class="hd-top-menu-elm">Mes favoris</div>
				<div class="hd-top-menu-elm">Boutiques</div>
				<div class="hd-top-menu-elm" style="margin:0;">Messages</div>
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-right" style="">
				<div class="hd-top-menu-right-elm">
					<i class="fa fa-folder-o"></i>
				</div>
				<div class="hd-top-menu-right-elm">
					<i class="fa fa-comment-o"></i>
				</div>
				<div class="hd-top-right-user" style="">
					<i class="fa fa-user-o"></i>
				</div>
				<div class="hd-top-right-register" style="">
					<div class="btn-insc" style="">
						<a class="lk-b" href="{{path('enregistrer_utilisateur')}}">S'inscrire</a>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="hd-top-menu-resp" style="">
				<div id="respuser" class="hd-top-right-user" style="cursor:pointer;">
					<i id="respusericnop" class="fa fa-user-o"></i>
					<i id="respusericncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div id="respmn" style="float:left;padding-top:2px;cursor:pointer;width:15px;">
					<i id="respmnicnop" class="fa fa-bars"></i>
					<i id="respmnicncl" class="fa fa-times" style="display:none;"></i>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div style="clear:both;"></div>
		</div>
		<div id="resp-menu" class="hd-resp-menu" style="">
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('enregistrer_annonce')}}">Déposer une annonce</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('annonce')}}">Offres</a>
			</div>
			<div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('annonce')}}">Demandes</a>
			</div>
			<div class="hd-resp-menu-elm">Mes favoris</div>
			<div class="hd-resp-menu-elm">Boutiques</div>
			<div class="hd-resp-menu-elm">Messages</div>
		</div>
		<div id="resp-user" class="hd-resp-user" style="">
			<div class="hd-resp-menu-elm">Mon compte</div>
			<div class="hd-resp-menu-elm">Mes favoris</div>
			<div class="hd-resp-menu-elm">Mes messages</div>
            <div class="hd-resp-menu-elm">
				<a class="lk-w" href="{{path('enregistrer_utilisateur')}}">S'inscrire</a>
			</div>
		</div>
	</div>