	<div id="srcbox" class="srch-box-all">
		<div class="srchboxall">		
			<form method="GET" action="{{path('annonces')}}" id="srch" name="search">
			<div class="srchinputs">
				<div class="srch1">
					<input type="text" placeholder="Que recherchez-vous ?" class="srchinp" name="q" id="recherche" value="{%if search is defined %}{{search}}{%endif%}"/>
				</div>                              
				<div class="srch2">
					<select id="form_search_categorie" name="cat" class="form-control srchsel">
					<option value="0" selected="selected">Toutes les catégories</option>
                                        {% for key,categories in familleByCategorie() %}
                                            <optgroup label="{{ key }}">
                                                {% for k,categorie in categories %}
                                                   <option value="{{ categorie }}" {%if category is defined and category == categorie%}{{' selected'}}{%endif%}>{{ k }}</option>			 
                                                {%endfor%}    
                                            </optgroup>   
                                        {%endfor%}    
					{#% set loopKey = 0 %}
					{% set selectGroup = zandoo_service_commun.getCategorieGroup() %}
					{% set selectOption = zandoo_service_commun.getCategorieOption() %}
					{% for relation in zandoo_service_commun.getCategorieGroupOption() %}
						{% set idCategorie = loop.index %}
						{% if loopKey != relation %}
							{% set loopKey = relation %}
							{% if loop.index > 1 %}
							</optgroup>
							{% endif %}
							<optgroup label="{{ selectGroup[relation] }}">
						{% endif %}
						<option value="{{ idCategorie }}" {%if category is defined and category == idCategorie%}{{' selected'}}{%endif%}>{{ selectOption[idCategorie] }}</option>
					{% endfor %#}
					</select>
				</div>
				<div class="srch3">		
					<div class="srchbtn" onclick="$(this).closest('form').submit();" style="color:#fff;">Recherchez</div>
				</div>
				<div style="clear:both;"></div>
			</div>	
			<div class="srchcheck" style="display:none;">
				<div class="srccrt1-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="tre" id="" value="1" {%if titre is defined and titre is not null%}{{' checked'}}{%endif%}/>
					</div>
					<div style="float:left;margin:0 0px 0 0;">
						Recherche dans le titre <span class="srctitre">uniquement</span>
					</div>
					<div style="clear:both;"></div>
				</div>
				<div class="srccrt2-all" style="">
					<div style="float:left;margin:0 5px 0 0;">
						<input type="checkbox" style="padding:0 10px 0 0;" name="urg" id="" value="1" {%if urgente is defined and urgente is not null %}{{' checked'}}{%endif%}/>
					</div>
					<div style="float:left;margin:0 10px 0 0;">
						Annonces urgentes
					</div>
					<div style="clear:both;"></div>
				</div>				
				<div class="srccrt3-all" style="">
					<div class="publie-box-all">
						<div style="float:left;margin:0 5px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<i class="fa fa-pencil-square-o"></i>
							</a>
						</div>
						<div style="float:left;margin:0 0px 0 0;">
							<a class="lk-b" href="{{path('enregistrer_annonce')}}">
								<span style="margin:0;padding:0;">Publiez votre annonce</span>
							</a>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				<div style="clear:both;"></div>
			</div>			
			</form>
		</div>
	</div>