 {% extends 'base.html.twig' %}
 {% block body %}
	<link rel="stylesheet" href="{{ asset('public/css/annonce.css') }}" type="text/css"/> 
	<div class="ann-cont">
        {% for message in  app.flashes('succesAnnonce') %}  
	<div class="alert alert-success" role="alert">
		{{ message}}
	</div> 
       {% endfor%}  
		<div class="ann-lf">
			<div style="">
				<h3 style="padding:0;margin:0;">
					{{ zandoo_service_commun.titreFormatAnnonce(annonce.titre) }}
				</h3>
			</div>
			{%if  zandoo_service_commun.testExistanceImg(annonce.images) %}
			<div class="ann-img-all" style="margin-top:15px;">
				<div class="ann-img-lf">
					<div class="ann-img-mn">
						<img src="{{asset('bundles/zandoo/uploads/documents/')}}{{ annonce.images[0].id}}.{{annonce.images[0].url}}" class="imgmax">
					</div>
				</div>
				<div class="ann-img-rt">
					<div class="ann-img-ot" style="margin-top:0;">
						<img src="/public/img/5_59.JPG">
					</div>
					<div class="ann-img-ot">
						<img src="/public/img/5_59.JPG">
					</div>
					<div class="ann-img-ot ann-img-ot-lst" style="">
						<img src="/public/img/5_59.JPG">
					</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>		
			<div class="ann-stat-bx">						
				<div class="ann-stat-elem">
					<div class="ann-stat-icon"><i class="fa fa-hourglass-o" style="font-size:14px;"></i></div> 
					<div style="float:left;">							
						Publiée {{ zandoo_service_commun.dateConvertText(annonce.dateCreation) }}
					</div> 
					<div style="clear:both;"></div>
				</div>						
				<div class="ann-stat-elem">
					<div class="ann-stat-icon"><i class="fa fa-eye" style="font-size:14px;"></i></div> 
					<div style="float:left;">																
						56 visites
					</div> 
					<div style="clear:both;"></div>
				</div>						
				<div style="float:left;">
					<div class="ann-stat-icon"><i class="fa fa-flag-o" style="font-size:14px;"></i></div> 
					<div style="float:left;">																
						Signaler cette annonce
					</div> 
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>		
			</div>	
			{%endif%}
			<div class="ann-bar" style="display:none;">
				<div style="float:left;margin-right:20px;">Description</div>
				<div style="float:left;display:none;">Caractéristiques</div>
				<div style="clear:both;"></div>
			</div>	
			{%if  zandoo_service_commun.testExistanceImg(annonce.images) %}
			<div class="ann-desc">
				<div><h3 style="padding:0;margin:0;">Description</h3></div>
			</div>	
			<div class="ann-desc-bx">
				<div style="">
				{{annonce.description}}
				</div>
			</div>	
			{%else%}
			<div class="ann-desc-bx" style="margin-top:15px;">
				<div><h4 style="padding:0;margin:0;">Description</h4></div>
				<div style="margin-top:10px;">
				{{annonce.description}}
				</div>
			</div>					
			<div class="ann-stat-bx">						
				<div class="ann-stat-elem">
					<div class="ann-stat-icon"><i class="fa fa-hourglass-o" style="font-size:14px;"></i></div> 
					<div style="float:left;">							
						Publiée {{ zandoo_service_commun.dateConvertText(annonce.dateCreation) }}
					</div> 
					<div style="clear:both;"></div>
				</div>						
				<div class="ann-stat-elem">
					<div class="ann-stat-icon"><i class="fa fa-eye" style="font-size:14px;"></i></div> 
					<div style="float:left;">																
						56 visites
					</div> 
					<div style="clear:both;"></div>
				</div>						
				<div style="float:left;">
					<div class="ann-stat-icon"><i class="fa fa-flag-o" style="font-size:14px;"></i></div> 
					<div style="float:left;">																
						Signaler cette annonce
					</div> 
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>		
			</div>
			{%endif%}	
			<div class="ann-desc" style="display:none;">
				<div><h3 style="padding:0;margin:0;">Caractéristiques</h3></div>
			</div>		
			<div class="ann-car-w" style="display:none;">
				<div style="float:left;">Fonction vapeur</div>
				<div class="ann-car-det">Non</div>
				<div style="clear:both;"></div>	
			</div>
			<div style="padding:5px 10px;display:none;">
				<div style="float:left;">Puissance</div>
				<div class="ann-car-det">21,6 V</div>
				<div style="clear:both;"></div>	
			</div>	
			<div class="ann-car-w" style="display:none;">
				<div style="float:left;">Le plus du produit</div>
				<div class="ann-car-det">Mutli accessoirisé : idéal pour toute la maison</div>
				<div style="clear:both;"></div>	
			</div>		
			<div style="padding:5px 10px;display:none;">
				<div style="float:left;">Type de batterie</div>
				<div class="ann-car-det">Lithium</div>
				<div style="clear:both;"></div>	
			</div>	
		</div>	
		<div class="ann-rt">	
			<div class="ann-map-bx">
				<div class="ann-map-icon">
					<i class="fa fa-map-marker" style="font-size:22px;"></i>
				</div>
				<div class="ann-map-street">
					<div class="ann-map-str">12 rue la chamelle, Braza, 12 451, Congo ...</div> 
					<div style="float:right;">[carte]</div>
					<div style="clear:both;"></div>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="ann-price-bx">					
				<div class="ann-price"><h2 style="margin:0;padding:0;">{{ annonce.prix }} {{ zandoo_service_commun.typeMonnaie(annonce.monnaie) }}</h2></div>
				<div class="ann-price-ques">
					Cette annonce vous intéresse ?
					<div style="margin:5px 0 10px 0px;">
						<div class="ann-price-num">
							Voir numéro de téléphone
						</div>
					</div>
				</div>
			</div>				
			<div class="ann-poster-bx">					
				<div class="ann-poster">{{annonce.utilisateur.username}}</div>
				<div style="float:right;"><span class="label label-primary">junior</span></div>
				<div style="clear:both;"></div>
				<div id="mreusr" class="ann-poster-info">						
					Connectez-vous ou inscrivez-vous pour voir les détails de cette annonce, y compris:
					<div style="margin:10px 0 10px 15px;">
						<div>
							<div class="ann-poster-info-elem">
								<i class="fa fa-long-arrow-right" style="font-size:16px;"></i>
							</div> 
							<div style="float:left;">							
								Quand ils ont rejoint Zandoo
							</div> 
							<div style="clear:both;"></div>
						</div>
						<div style="margin-top:0px;">
							<div class="ann-poster-info-elem">
								<i class="fa fa-long-arrow-right" style="font-size:16px;"></i>
							</div> 
							<div style="float:left;">																
								À quelle vitesse ils répondent
							</div> 
							<div style="clear:both;"></div>
						</div>
						<div style="margin-top:0px;">
							<div class="ann-poster-info-elem">
								<i class="fa fa-long-arrow-right" style="font-size:16px;"></i>
							</div> 
							<div style="float:left;">																
								D'autres annonces qu'ils ont postées
							</div> 
							<div style="clear:both;"></div>
						</div>
					</div>
				</div>
				<div class="ann-poster-info-arr">
					<i id="arrusr" class="fa fa-caret-down" style="font-size:14px;cursor:pointer;"></i>
				</div>
			</div>
			<div class="ann-msg-bx">		
				<div style="margin-top:10px;">
					<div id="msgposter" style="display:none;">
						<div class="ann-msg-tit">Votre message <a href="" style="color:#ccc;font-weight:normal;" onclick="$('#msgposter').hide();return false;">[x]</a></div>
						<div style="margin-top:15px;">
							<input type="text" value="" class="ann-msg-inp" placeholder="Votre nom">
						</div>
						<div style="margin-top:10px;">
							<input type="text" value="" class="ann-msg-inp" placeholder="Votre e-mail">
						</div>
						<div style="margin-top:10px;">
							<input type="text" value="" class="ann-msg-inp" placeholder="Votre numéro de tél. (optionnel)">
						</div>
						<div style="margin-top:15px;">
							<textarea class="textare form ann-msg-txtarea" id="message" rows="3" placeholder="Votre Message" maxlength="1024" name="message"></textarea>
						</div>
					</div>
					<div style="margin:10px 0;">
						<div onclick="$('#msgposter').show();" class="ann-msg-btn">Envoyer message</div>
					</div>
				</div>
			</div>	
		</div>
		<div style="clear:both;"></div>
	</div>
	<div class="ann-sim-off" style="">
		<div style="text-decoration:underline;">
			<h3 style="padding:0;margin:0;">Offres similaires</h3>
		</div>
		<div style="margin-top:10px;">
			<div class="ann-sim-bx" style="margin-left:0px;">
				<div style="padding:2%;">
					<div class="ann-sim-img">
						<img src="/public/img/sim1.JPG">
					</div>
				</div>
				<div class="ann-sim-txt-bx">
					<div class="ann-sim-txt">
						Deol Auto Edmonton - Shop Tires.
						<div class="ann-sim-price">57 €</div>
					</div>
				</div>
			</div>
			<div class="ann-sim-bx">
				<div style="padding:2%;">
					<div class="ann-sim-img">
						<img src="/public/img/sim2.JPG">
					</div>
				</div>
				<div class="ann-sim-txt-bx">
					<div class="ann-sim-txt">
						Deol Auto Edmonton - Shop Tires.
						<div class="ann-sim-price">57 €</div>
					</div>
				</div>
			</div>
			<div class="ann-sim-bx">
				<div style="padding:2%;">
					<div class="ann-sim-img">
						<img src="/public/img/sim3.JPG">
					</div>
				</div>
				<div class="ann-sim-txt-bx">
					<div class="ann-sim-txt">
						Deol Auto Edmonton - Shop Tires.
						<div class="ann-sim-price">57 €</div>
					</div>
				</div>
			</div>
			<div class="ann-sim-bx">
				<div style="padding:2%;">
					<div class="ann-sim-img">
						<img src="/public/img/sim4.JPG">
					</div>
				</div>
				<div class="ann-sim-txt-bx">
					<div class="ann-sim-txt">
						Deol Auto Edmonton - Shop Tires.
						<div class="ann-sim-price">57 €</div>
					</div>
				</div>
			</div>
			<div class="ann-sim-bx">
				<div style="padding:2%;">
					<div class="ann-sim-img">
						<img src="/public/img/sim5.JPG">
					</div>
				</div>
				<div class="ann-sim-txt-bx">
					<div class="ann-sim-txt">
						Deol Auto Edmonton - Shop Tires.
						<div class="ann-sim-price">57 €</div>
					</div>
				</div>
			</div>
			<div style="clear:both;"></div>
		</div>
	</div>
 {% endblock %}

