{% set search = search %}
{% set category = cat %}
{% set titre = titres %}
{% set urgente = urgentes %}
{% extends 'base.html.twig' %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('public/css/lister-annonce.css') }}" type="text/css"/>
	<link rel="stylesheet" href="{{ asset('public/css/button.css') }}" type="text/css"/>
	<div class="bg-cont-annonce">
		<div class="cont-annonce">
			<div class="annonce-l" style="">
				<div class="bx-filter" style="">
					<div class="btn-filter" style="text-align:right;">
						<i class="fa fa-sliders" aria-hidden="true" style="cursor:pointer;" onclick="shfilter();"></i>
					</div>
					<div id="filter-annonce" class="shfilter">
						<div style="font-weight:bold;">
							<div style="float:left;">Prix</div>
							<div style="float:left;margin:1px 0 0 6px;color:#337ab7;">
								<i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
							</div>
							<div style="clear:both;"></div>
						</div>
						<div class="filter-prix">
							<div style="float:left;">
								<input type="text" value="" class="filter-prix-inp">
							</div>
							<div style="float:right;">
								<input type="text" value="" class="filter-prix-inp">
							</div>
							<div style="clear:both;"></div>
						</div>
						<div class="filter-title">Catégories</div>
						<div style="font-size:13px;">
							<div style="margin-top:5px;">
								<div class="filter-marg">
									<a href="#">Appartement</a>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div style="margin-top:5px;">
								<div class="filter-marg">
									<a href="#">Maison</a>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
						<div class="filter-title">Types d'offres</div>
						<div style="font-size:13px;">
							<div style="margin-top:5px;">
								<div class="filter-marg">
									<a href="#">Offres <span class="filter-nb">(1 251)</span></a>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div style="margin-top:5px;">
								<div class="filter-marg">
									<a href="#">Demandes <span class="filter-nb">(840)</span></a>
								</div>
								<div style="clear:both;"></div>
							</div>
						</div>
						<div style="margin:20px auto 0 auto;width:100%;max-width:136px;">
							<a href="#" class="myButton">Réinitialiser</a>
						</div>
					</div>
				</div>
			</div>

			<div class="annonce-r" style="">
				{% for val in annonces %}

					{% if loop.index == 1 %}
						{% set marg = 0 %}
					{% else %}
						{% set marg = 25 %}
					{% endif %}

					<div class="bxanon" style="margin-top:{{ marg }}px;height:100%;">
						<div class="bxanon-img" style="height:100%;">
							{%if zandoo_service_commun.testExistanceImg(val.images) %}
								  <img src="{{asset('bundles/zandoo/uploads/documents/'~val.images[0].id~'.'~val.images[0].url)}}" class="imgmax">

							{%else%}
								  <img src="{{ asset('bundles/zandoo/img/nopic1.png')}}" class="imgmax">
							{%endif%}
						</div>
						<div class="bx-txt">
							<div class="bx-title truncate">{{ zandoo_service_commun.titreFormatAnnonce(val.titre) }}</div>
							<div class="bx-txt-nor">
								<div class="bx-txt-nor-price-box">
									<div class="bx-txt-nor-price">{{ val.prix }} {{ zandoo_service_commun.typeMonnaie(val.monnaie) }}</div>
									<div style="margin-top:15px;">
										<div class="bx-txt-nor-price-offer">
											<a href="{{ path('afficher_annonce', {'id': val.id}) }}" class="lk-b">Voir offre</a>
										</div>
									</div>
									<div style="margin-top:15px;text-align:center;">
										{{ zandoo_service_commun.dateConvertText(val.dateCreation) }}
									</div>
								</div>
								<div style="float:left;width:350px;">
									<div style="font-size:13px;padding-top:5px;"><b>Description</b>:</div>
									<div style="margin-top:10px;">
										{{ val.description }}
									</div>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div class="bx-txt-resp">
								<div class="bx-price-offer">
									<div class="bx-price">{{ val.prix }} {{ zandoo_service_commun.typeMonnaie(val.monnaie) }}</div>
									<div style="float:left;">
										<div class="bx-offer">
											Voir offre
										</div>
									</div>
									<div style="clear:both;"></div>
								</div>
								<div class="tabgrd" style="">
									{{ val.description }}
								</div>
								<div class="bx-date" style="">
									{{ zandoo_service_commun.dateConvertText(val.dateCreation) }}
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
					</div>
				{% endfor %}
				<div style="background:#fff;padding:10px;border:1px solid #ccc;margin-top:35px;">
					<table style="width:100%;">
						<tr>					
                                                    <nav aria-label="Page navigation example">
                                                       <ul class="pagination justify-content-end">
                                                         <li class="page-item disabled">
                                                           <a class="page-link" href="#" tabindex="-1">Previous</a>
                                                         </li>
                                                         {{category}}
                                                         {%for t in total%}				
                                                             <li class="page-item">
                                                                 <a class="page-link pagination" href="{{ zandoo_service_commun.generateUrl("p", t) }}">
                                                                    {{t}}
                                                                 </a>
                                                             </li>										
                                                          {%endfor%}                   
                                                         <li class="page-item">
                                                           <a class="page-link" href="#">Next</a>
                                                         </li>
                                                       </ul>
                                                     </nav>                                                      
						</tr>
					</table>
				</div>
			</div>
			<div style="clear:both;"></div>
                         </form> 
		</div>
	</div>
{% endblock %}

