{% set search = search %}
{% set category = cat %}
{% set titre = titres %}
{% set urgente = urgentes %}
{% extends 'base.html.twig' %}
{% block body %}
	<link rel="stylesheet" href="{{ asset('public/css/lister-annonce.css') }}" type="text/css"/>
	<link rel="stylesheet" href="{{ asset('public/css/button.css') }}" type="text/css"/>
	<div class="bg-cont-annonce">
		
		<div class="cont-annonce">		
			<div class="annonce-l" style="text-align:center;padding:15px 0 0 0;">
				<img src="{{ asset('public/img/pub.png')}}">
			</div>			
			<div class="annonce-r" style="">
				<div style="margin-bottom:10px;">
					<div style="float:left;font-size:14px;padding-top:5px;font-weight:bold;">
                                            <!--span>4 611 395 Annonces</span-->
					</div>
					<div style="float:right;">
						<div style="float:left;margin:0 25px 0 0;padding:3px 0 0 0;">
							<input id="cfilter" type="checkbox" onClick="filterSel();">&nbsp;&nbsp;Filtre
						</div>
						<div style="float:left;margin:0 0px 0 0;">
							<select name="tr" style="padding:5px;" onChange="triSel(this.value)">
								<option value="0" {%if tri == 0 %}selected{% endif %}>Tri : Plus r&eacute;centes</option>
								<option value="1" {%if tri == 1 %}selected{% endif %}>Tri : Plus anciennes</option>
								<option value="2" {%if tri == 2 %}selected{% endif %}>Tri : Prix croissants</option>
								<option value="3" {%if tri == 3 %}selected{% endif %}>Tri : Prix d&eacute;croissants</option>
							</select>
						</div>
						<div style="clear:both;"></div>						
					</div>
					<div style="clear:both;"></div>
					<div id="filtreform" style="margin:5px 0px 0 0;display:none;border:1px solid #ccc;background:#fff;padding:10px;">
						<div id="filtreform-1" style="float:left;display:block;">
							<div style="float:left;padding-top:4px;">
								Prix: &nbsp;&nbsp;
							</div>
							<div style="float:left;">
								<input type="text" value="{{priceFrom}}" id="pr1" class="filter-prix-inp">
							</div>
							<div style="float:left;padding-top:3px;">&nbsp;-&nbsp;</div>
							<div style="float:left;">
								<input type="text" value="{{priceTo}}" id="pr2" class="filter-prix-inp">
							</div>						
							<div style="clear:both;"></div>
						</div>
						<div style="float:right;margin:0px 0 0 6px;color:#337ab7;cursor:pointer;" onclick="filterGo();">						
							<a href="" class="myButton" style="color:#fff;" onclick="return false;">Filtrer</a>
						</div>
						<div style="clear:both;"></div>
						<div id="filtreform-2" style="float:left;margin-top:10px;padding-top:10px;border-top:1px solid #f2f2f2;display:block;">
							<div style="float:left;padding-top:4px;">
								Villes: &nbsp;&nbsp;
							</div>
							<div style="float:left;padding:10px;border:1px solid #f2f2f2;">
								<div><input type="checkbox">&nbsp;&nbsp;Nanterre</div>
								<div style="margin-top:5px;"><input type="checkbox">&nbsp;&nbsp;Reuil</div>
								<div style="margin-top:5px;"><input type="checkbox">&nbsp;&nbsp;Pais</div>
							</div>					
							<div style="clear:both;"></div>
						</div>
						<div id="filtreform-2" style="float:left;margin:10px 0 0 25px;padding-top:10px;border-top:1px solid #f2f2f2;display:block;">
							<div style="float:left;padding-top:4px;">
								Categories: &nbsp;&nbsp;
							</div>
							<div style="float:left;padding:10px;border:1px solid #f2f2f2;">
								<div><input type="checkbox">&nbsp;&nbsp;Offres d'emploi Cadresnouveau </div>
								<div style="margin-top:5px;"><input type="checkbox">&nbsp;&nbsp;Voitures</div>
								<div style="margin-top:5px;"><input type="checkbox">&nbsp;&nbsp;Ventes immobilières</div>
							</div>					
							<div style="clear:both;"></div>
						</div>
						<div style="clear:both;"></div>
					</div>
				</div>
				{% for val in annonces %}

					{% if loop.index == 1 %}
						{% set marg = 0 %}
					{% else %}
						{% set marg = 25 %}
					{% endif %}

					<div class="bxanon" style="margin-top:{{ marg }}px;height:100%;">
						<div class="bxanon-img">
							<a href="{{ path('afficher_annonce', {'generateurId': val.generateurId}) }}" class="lk-b">
							{%if zandoo_service_commun.testExistanceImg(val.images) %}
								  <img src="{{asset('public/uploads/documents/'~val.images[0].id~'.'~val.images[0].url)}}" class="mmax">
							{%else%}
								  <img src="{{ asset('public/img/nopic1.png')}}" class="imgmax">
							{%endif%}
							</a>
						</div>
						<div class="bx-txt">
							<div class="bx-title truncate">
								<a href="{{ path('afficher_annonce', {'generateurId': val.generateurId}) }}" class="lk-b">
									{{ zandoo_service_commun.titreFormatAnnonce(val.titre) }}
								</a>
							</div>
							<div class="bx-txt-nor">
								<div class="bx-txt-nor-price-box">
									<div class="bx-txt-nor-price">{{ val.prix }} {{ zandoo_service_commun.typeMonnaie(val.monnaie) }}</div>
									<div style="margin-top:15px;">
										<div class="bx-txt-nor-price-offer">
										    <a href="{{ path('afficher_annonce', {'generateurId': val.generateurId}) }}" class="lk-b">{%if val.type%}Voir demande{%else%}Voir offre{%endif%}</a>
										</div>
									</div>
									<div style="margin-top:15px;text-align:center;">
										{{ zandoo_service_commun.dateConvertText(val.dateCreation) }}
									</div>
								</div>
								<div style="float:left;width:350px;">
									<div style="font-size:13px;padding-top:5px;"><b>Description</b>:</div>
									<div style="margin-top:10px;">
										{{ val.description }}
									</div>
								</div>
								<div style="clear:both;"></div>
							</div>
							<div class="bx-txt-resp">
								<div class="bx-price-offer">
									<div class="bx-price">{{ val.prix }} {{ zandoo_service_commun.typeMonnaie(val.monnaie) }}</div>
									<div style="float:left;">
										<div class="bx-offer">
											<a href="{{ path('afficher_annonce', {'generateurId': val.generateurId}) }}" class="lk-b">
											{% if val.type %} Voir demande {%else%} Voir offre {%endif%}
											</a>
										</div>
									</div>
									<div style="clear:both;"></div>
								</div>
								<div class="tabgrd" style="">
									{{ val.description }}
								</div>
								<div class="bx-date" style="">
									{{ zandoo_service_commun.dateConvertText(val.dateCreation) }}
								</div>
							</div>
						</div>
						<div style="clear:both;"></div>
					</div>
				{% endfor %}			
                             {% include 'ZandooBundle:Commun:pagination.html.twig'%}                                 
			</div>
			<div style="clear:both;"></div>
                         </form> 
		</div>
	</div>                                                    
{% endblock %}
    
