{% extends 'base.html.twig' %}
{% block body %}
    {% for message in  app.flashes('succes') %}  
        <div class="alert alert-success" role="alert">
            {{ message}}
        </div> 
    {% endfor%}    
    {% for message in  app.flashes('error') %} 
        <div class="alert  alert-danger" role="alert">
            {{ message}}
        </div>   
    {% endfor%}
     
    {{form_start(form)}}
    {{form_widget(form)}}
     <input type="submit" value="Valider" />
    {{form_end(form)}}
{% endblock %}

